<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

     <form action="{% url 'dict_main_url'%}"  method="post">
         {% csrf_token %}
       <p><strong>Search:</strong></p>
       <p><input maxlength="25" size="40" name="word"></p>
        <button type="submit"> Search </button>
     </form>

     <p>Words:</p>

    {% for word in words %}
        <div style="border: red solid 2px; ">
            <div style="border: black solid 2px;">
                <p>
                    <a href="{% url 'word_detail_url' id=word.id lang='en' %}">{{ word.word_en }}</a>
                </p>
            </div>

            <div style="border: black solid 2px;">
                <p>
                    <a href="{% url 'word_detail_url' id=word.id lang='ru' %}">{{ word.word_ru }}</a>
                </p>
            </div>
        </div>

    {% endfor %}

</body>
</html>