{% extends 'index.html' %}
{% load static %}

{% block style %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style3.css' %}">
{% endblock %}

{% block lang_word %}
{#     {% if request.user.is_authenticated %}#}
{#             <form action="{% url 'my_account_edit_url' %}" method="post">#}
{#            {% csrf_token %}#}
{#            {% if request.user.lang_setting == 'en' %}#}
{#                <h3><button class="btn" value="ru" name="lang_btn" type="submit">Русский</button></h3>#}
{#            {% else %}#}
{#                <h3><button class="btn" value="en" name="lang_btn" type="submit">English</button></h3>#}
{#            {% endif %}#}
{#            </form>#}
{#        {% else %}#}
{##}
{#    {% endif %}#}
{% endblock %}

{% block content %}
    <div class="main">
    <form action="{% url 'my_account_edit_url' %}" method="post" enctype='multipart/form-data'>
        <div class="main__up">

            <div class="avatar">
                {% if request.user.image   %}
                    <img src="{{ request.user.image.url }}" alt="image not available" width="200" height="200">
                {% else %}
                 <img src="{% static 'images/avatar.png' %}" width="200" height="200">
                {% endif %}
            <h4>{% if request.user.lang_setting == 'en' %}Change image:   {% else %} Сменить фото профиля:  {% endif %} <input type="file" name="image" accept="image/*" ></h4>
{#            <<in></in>put type="image" name="image" alt="avatar" src="{{ request.user.image.url }}">#}
            </div>
            <div class="filed">

              {% csrf_token %}
                <h4>{% if request.user.lang_setting == 'en' %}First Name {% else %} Имя {% endif %} : <input type="text" value="{{ request.user.first_name }}" name="first_name"></h4>
                <h4>{% if request.user.lang_setting == 'en' %}Last Name{% else %} Фамилия {% endif %}: <input type="text" value="{{ request.user.last_name }}" name="last_name"></h4>
                <h4>{% if request.user.lang_setting == 'en' %}Email{% else %} Email{% endif %}: <input type="email" value="{{ request.user.email }}" name="email"></h4>
                <h4>{% if request.user.lang_setting == 'en' %}Phone{% else %} Телефон {% endif %}: <input type="text" value="{{ request.user.phone_number }}" name="phone_number"></h4>
                 <h4>{% if request.user.lang_setting == 'en' %}Current password{% else %} Текущий пароль {% endif %}:   <input type="password" id="account-details-oldpass" name="password"></h4>
                 <h4>{% if request.user.lang_setting == 'en' %}New password{% else %} Новый пароль {% endif %}:  <input type="password" id="account-details-newpass" name="password1"></h4>
                 <h4>{% if request.user.lang_setting == 'en' %}Confirm password{% else %} Подвердите пароль {% endif %}:  <input type="password" id="account-details-confpass" name="password2"></h4>

                {% if request.user.lang_setting == 'en' %}
                    <button type="submit"><h2>Save</h2></button>
                {% else %}
                    <button type="submit"><h2>Сохранить</h2></button>
                {% endif %}
            </div>

        </div>
     </form>
{#        <div class="main__down">#}
{#            <h1>History</h1>#}
{#            <ol>#}
{#                {% for obj in history %}#}
{#                    <li>#}
{#                        <a href="{% url 'word_detail_url' id=obj.word.id lang='en' %}">{{ obj.word.word_en|title }} || {{ obj.word.word_ru|title }}</a>#}
{#                    </li>#}
{#                {% endfor %}#}
{#            </ol>#}
{#        </div>#}
    </div>
{% endblock %}