{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Dictionary</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
</head>
<body>
	<div class="b-popup" id="popup1">
		<div class="pop-up-content">
			<div class="exit">
				<a href="javascript:PopUpHide('#popup1')">X</a>
			</div>
            {% if request.user.lang_setting == 'ru' %}
                <h1>Регистрация</h1>
                {% else %}
                <h1>Sign up</h1>
            {% endif %} 

                <form action="{% url 'registration_user_url' %}"  method="post" enctype='multipart/form-data'>
                    {% csrf_token %}

                    {{ form.last_name }}
                    {% if form.last_name.errors %}
                        <div class="alert alert-danger">
                            {{ form.last_name.errors }}
                        </div>
                    {% endif %}

                    {{ form.first_name }}
                    {% if form.first_name.errors %}
                        <div class="alert alert-danger">
                            {{ form.first_name.errors }}
                        </div>
                    {% endif %}

                    {{ form.email }}
                    {% if form.email.errors %}
                        <div class="alert alert-danger">
                            {{ form.email.errors }}
                        </div>
                    {% endif %}

                    {{ form.phone_number }}
                     {% if form.phone_number.errors %}
                        <div class="alert alert-danger">
                            {{ form.phone_number.errors }}
                        </div>
                    {% endif %}

                   {{ form.password1 }}
                    {% if form.password1.errors %}
                        <div class="alert alert-danger">
                            {{ form.password1.errors }}
                        </div>
                    {% endif %}

                  {{ form.password2 }}
                    {% if form.password2.errors %}
                        <div class="alert alert-danger">
                            {{ form.password2.errors }}
                        </div>
                    {% endif %}
{#                    <input type="text" placeholder="Фамилия" size="22"><br>#}
{#                    <input type="text" placeholder="Имя" size="22"><br>#}
{#                    <input type="text" placeholder="Email" size="22"><br>#}
{#                    <input type="text" placeholder="Phone Number" size="22"><br>#}
{#                    <input type="text" placeholder="Password" size="22"><br>#}
{#                    <input type="text" placeholder="Confirm Password" size="22"><br>#}
                    <button class="aplybutton">Готово</button>
                </form>
		</div>
	</div>
	<div class="b-popup" id="popup2">
		<div class="pop-up-content">
			<div class="exit">
				<a href="javascript:PopUpHide('#popup2')">X</a>
			</div>

              {% if request.user.lang_setting == 'ru' %}
                <h1>Войти</h1>
                {% else %}
                <h1>Sign in</h1>
            {% endif %}
             <form action="{% url 'log_user_url' %}"  method="post" enctype='multipart/form-data'>
                {% csrf_token %}
                <input type="text" placeholder="Email or Phone Number" name="email_or_phone" size="22"><br>
                <input type="password" placeholder="Password" name="password" size="22" ><br>
                 {% if request.user.lang_setting == 'ru' %}
                    <button class="aplybutton">Готово</button>
                {% else %}
                    <button class="aplybutton">Sign in</button>
            {% endif %}
            </form>
		</div>
	</div>
	<header class="head">
		<div class="head__up">
			<div class="head__logoText">
				<h2 ><a href="">Dictionary</a></h2>
			</div>
			<div class="head__login">


{#				<h3><a class="head__sign active" href="">Выход</a></h3>#}
                {% if request.user.lang_setting == 'ru' %}

                {% if not request.user.is_authenticated %}
                    <h3><a class="head__sign" href="javascript:PopUpShow('#popup2')">Войти</a></h3>
                    <h3><a class="head__sign" href="javascript:PopUpShow('#popup1')">Регистрация</a></h3>
                    {% else %}
                        <h3><a class="head__sign active" href="{% url 'my_account_url' %}">Личный Кабинет</a></h3>
                    	<h3><a class="head__sign active" href="{% url 'logout_url' %}">Выход</a></h3>
                {% endif %}
                {% else %}
                 {% if not request.user.is_authenticated %}
                    <h3><a class="head__sign" href="javascript:PopUpShow('#popup2')">Sign in</a></h3>
                    <h3><a class="head__sign" href="javascript:PopUpShow('#popup1')">Sign up</a></h3>
                    {% else %}
                        <h3><a class="head__sign active" href="{% url 'my_account_url' %}">Personal Area</a></h3>
                    	<h3><a class="head__sign active" href="{% url 'logout_url' %}">Log out</a></h3>
                {% endif %}
                {% endif %}
			</div>
		</div>
		<div class="wrap1">
            <form action="{% url 'dict_main_url'%}"  method="post">
                {% csrf_token %}
                <input class="inpt" type="text" name="word" size="40">
                {% if request.user.lang_setting == 'ru' %}
                    <button class="btn" type="submit" >Искать</button>
                {% else %}
                    <button class="btn" type="submit" >Search</button>
                {% endif %}
            </form>
			<div class="head__lang">
                <form action="{% url 'dict_main_url' %}" method="post">
                {% csrf_token %}
                {% if request.user.lang_setting == 'en' %}
				    <h3><button class="btn" value="ru" name="lang_btn" type="submit">Русский</button></h3>
                {% else %}
                    <h3><button class="btn" value="en" name="lang_btn" type="submit">English</button></h3>
                {% endif %}
                </form>
			</div>
		</div>
	</header>
    {% block content %}
	<div class="main">
		<div class="main__block">
			<img src="../static/images/p1.png" alt="Тут была фотография , но сегодня она ушла домой на выходной">
		</div>
		<div class="main__text">
			<h1>Dictionary</h1>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
<!--			<button class="btn"><a href="javascript:PopUpShow('#popup1')">Search it now!</a></button>-->
		</div>
	</div>
    {% endblock %}
{#	</div>#}

	<footer class="foot">
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,<br> when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
	</footer>
	<script src="{% static 'js/main.js' %}"></script>
</body>
</html>