{% extends 'index.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %} ">
{% endblock %}

{% block lang_word %}
    <div class="head__lang">
        {% if lang == 'en' %}
            <h3><a href="{% url 'word_detail_url' id=word.id lang='ru' %}">Русский</a></h3>
        {% elif lang == 'ru'%}
            <h3><a href="{% url 'word_detail_url' id=word.id lang='en' %}">English</a></h3>
        {% endif %}
    </div>
{% endblock %}
{% block content %}
    <div class="main">
        <div class="main__word">
            {% if lang == 'en'  %}
            <h1>{{ word.word_en|title }}</h1>
            <p class="pronun">{{ word.pronunciation_en }}</p>
            <audio controls src="{{ word.audio_en }}">

            </audio>
        </div>
        <div class="main__content">
            <p class="meaning">
                {{ word.text_en|capfirst }}
            </p>
            <p class="url"> Link to wiki: <a href="{{ word.wiki_en }}">click</a></p>
        </div>
    </div>
            {% else %}
                <h1>{{ word.word_ru|title }}</h1>
            <p class="pronun">/{{ word.pronunciation_ru }}/</p>
            <audio controls src="{{ word.audio_ru }}">

                </audio>
            </div>

            <div class="main__content">
                <p class="meaning">
                    {{ word.text_ru|capfirst }}
                </p>
                <p class="url"> Link to wiki: <a href="{{ word.wiki_ru }}">click</a></p>
            </div>
        </div>

            {% endif %}

{% endblock %}
